* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: #FFF9E9;
}

h1 {
  text-align: center;
  font-family: Helvetica;
  font-size: 40px;
  font-weight: 700;
  padding-top: 75px;
}



.coffee-pic {
  background-image: url(Coffee.jpg);
  background-size: cover;
  background-position: center;
height: 300px;
  width: 100%;
  display:flex;
  flex-direction: column;
justify-content: space-between;
}

h1.facebook {
text-align: left;
padding-left: 30px;
padding-bottom: 30px;
font-family: Helvetica;
font-size: 25px;
font-weight: 300;
color: #FFF9E9;

}

.logo img {
width: 25%;
position:relative;
margin-top: 30px;
margin-left: 30px;
}



.locations {
  width: 80%;
  padding-top: 20px;
  margin:0 auto;
}

.bigger {
  text-align: left;
  font-family: Helvetica;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
}

.smaller {
  text-align: left;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
}

.store-hours {
  width: 80%;
  max-width:1440px;
  margin: 0 auto;
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  position:relative;
  padding:50px;
}

.days, .times {
  width: 45%;
  padding-top:10px;
  padding-bottom:10px;
}

.days p {
  text-align: left;
  font-family: Helvetica;
  font-size: 40px;
  font-weight: 700;
}

.times p {
  text-align: right;
  font-family: Helvetica;
  font-size: 40px;
  font-weight: 300;
}



.specials {
  width: 80%;
  padding-top: 20px;
  margin:0 auto;
  text-align: center;
}

.specials p {
  font-family: Helvetica;
  font-size: 30px;
  font-weight: 300;
}

h2 {
  text-align: left;
  font-family: Helvetica;
  font-size: 40px;
  font-weight: 700;
  padding-top: 75px;
  padding-left: 65px;
}

.coffee {
  width: 80%;
  max-width:1440px;
  margin: 0 auto;
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  position:relative;
  padding:10px;
}

.menu-1, .price-1 {
  width: 45%;
  padding-top:10px;
  padding-bottom:10px;
}

.menu-1 p {
  text-align: left;
  font-family: Helvetica;
  font-size: 30px;
  font-weight: 300;
}

.price-1 p {
  text-align: right;
  font-family: Helvetica;
  font-size: 30px;
  font-weight: 300;
}

  h3 {
    text-align: left;
    font-family: Helvetica;
    font-size: 40px;
    font-weight: 700;
    padding-top: 75px;
    padding-left: 65px;
  }

  .sandwiches {
    width: 80%;
    max-width:1440px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    position:relative;
    padding:10px;
  }

  .menu-2, .price-2 {
    width: 45%;
    padding-top:10px;
    padding-bottom:10px;
  }

  .menu-2 p {
    text-align: left;
    font-family: Helvetica;
    font-size: 30px;
    font-weight: 300;
  }

  .price-2 p {
    text-align: right;
    font-family: Helvetica;
    font-size: 30px;
    font-weight: 300;
  }

  .moustache {
    display: block;
    width: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto 0 auto;
  }

  @media only screen and (min-width:500px) {

    .coffee-pic {
      height: 600px;
    }

  }
